name: Sync

on:
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 'stable'
          cache: true

      - name: Build Go binary
        run: go build -o ctrld-hagezi-sync main.go

      - name: Run sync script
        env:
          TOKEN: ${{ secrets.TOKEN }}
          PROFILE: ${{ secrets.PROFILE }}
        run: ./ctrld-hagezi-sync
